<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>#{title}</title>
    style
        include ../static/style.css
</head>
<body>
    <nav class="navbar">
        <ul>
            <li><a href=""> Home</a></li>
            <li><a href=""> About</a></li>
            <li><a href=""> Contact Us</a></li>
            <li><a href=""> Email us</a></li>
        </ul>
    </nav>

    <section class="formsection">
        <h1>
            Get This Gym membership just in 60$| Hurry up
        </h1>
        <form action="/" id="fillform" method ="post">
            <input type="text" name="name" id="name" placeholder="enter your name">
            <input type="number" name="age" id="age" placeholder="enter your age">
            <input type="email" name="email" id="email" placeholder="enter your E-mail">
            <input type="phone" name="phone" id="phone" placeholder="enter your phone number">
            <textarea name="address" id="address" cols="30" rows="10" placeholder="enter your address"></textarea>
            <textarea name="more" id="more" cols="30" rows="10" placeholder="more about you"></textarea>
            <button class="btn">Submit</button>
        </form>
    
    </section>
</body>
</html>